.svg-DevelopProcess-dims {
	width: 24px;
	height: 24px;
}

.svg-Start-dims {
	width: 32px;
	height: 32px;
}

.svg-TestingProcess-dims {
	width: 24px;
	height: 24px;
}

.svg-analitic-dims {
	width: 50px;
	height: 50px;
}

.svg-analiticPprocess-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-right-dims {
	width: 32px;
	height: 32px;
}

.svg-bxl-behance-dims {
	width: 20px;
	height: 12px;
}

.svg-bxl-dribbble-dims {
	width: 20px;
	height: 20px;
}

.svg-bxl-instagram-dims {
	width: 18px;
	height: 18px;
}

.svg-check_circle-dims {
	width: 16px;
	height: 16px;
}

.svg-desing-dims {
	width: 50px;
	height: 50px;
}

.svg-desingProcess-dims {
	width: 24px;
	height: 24px;
}

.svg-develp_process-dims {
	width: 50px;
	height: 50px;
}

.svg-drop_arrow-dims {
	width: 24px;
	height: 24px;
}

.svg-facebook-dims {
	width: 10px;
	height: 18px;
}

.svg-fire-dims {
	width: 24px;
	height: 24px;
}

.svg-go_to_project-dims {
	width: 48px;
	height: 48px;
}

.svg-go_to_projectBlack-dims {
	width: 48px;
	height: 48px;
}

.svg-mouse-dims {
	width: 13px;
	height: 19px;
}

.svg-ok_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-place-dims {
	width: 24px;
	height: 24px;
}

.svg-qa_process-dims {
	width: 50px;
	height: 50px;
}

.svg-rea-dims {
	width: 23px;
	height: 23px;
}

.svg-right_arrow-dims {
	width: 16px;
	height: 16px;
}

.svg-start-Project-dims {
	width: 50px;
	height: 50px;
}

.svg-startProject-dims {
	width: 24px;
	height: 24px;
}

